<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark bg-warning">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">SAHARA</a>
                </li>
                {{!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Pricing</a>
                </li> --}}
            </ul>
        </div>

        {{!-- SEARCH BAR --}}
        {{!-- <div class="mx-auto order-0">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div> --}}

        {{!-- PROFILE DROPDOWN --}}
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown c">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/userProfile">Account</a>
                        {{!-- <a class="dropdown-item" href="#">Order history</a>
                        <a class="dropdown-item" href="#">Profile Information</a> --}}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

{{!-- Add Item form --}}
<div class="signupDiv">
    <div class="container bg-light mt-5 col-6">
        <h2 class="text-danger text-center">
            {{#if thisExists}}{{thisExists.exists}}{{else}}{{/if}}
        </h2>
        <form class="addItemForm" method="POST" action="/api/addItem">
            <div class="form-group pt-3">
                <label for="itemName">Enter User Name</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="User Name" name="user">
            </div>
            <div class="form-group pt-3">
                <label for="itemName">Enter Item Name</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Item" name="product_name">
            </div>
            {{!-- <div class="form-group">
                <label for="itemCategory">Please Choose a Category</label>
                <div class="btn-group">
                    <button class="btn btn-secondary btn-lg bg-warning" type="button">
                        Categories
                    </button>
                    <button type="button"
                        class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split bg-warning"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="ItemCategory">
                        <span class="sr-only">Toggle Dropdown</span>
                        </input>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Home Decor</a>
                            <a class="dropdown-item" href="#">Movies</a>
                            <a class="dropdown-item" href="#">Outdoors</a>
                            <a class="dropdown-item" href="#">Pet Supplies</a>
                            <a class="dropdown-item" href="#">Video Games</a>
                            <a class="dropdown-item" href="#">Vinyl Records</a>
                        </div>
                </div>
            </div> --}}
            <div class="form-group">
                <label for="ItemCategory">Please Enter a Category</label>
                <input type="text" class="form-control" placeholder="Item Category" name="product_category">
            </div>
            <div class="form-group">
                <label for="ItemPrice">Enter Item Price</label>
                <input type="text" class="form-control" placeholder="Item Price" name="product_price">
            </div>
            <div class="form-group">
                <label for="ItemDescription">Item Description</label>
                <input type="text" class="form-control" placeholder="Item Description" name="product_description">
            </div>
            <div class="form-group">
                <label for="ItemQuantity">Item Quantity</label>
                <input type="text" class="form-control" placeholder="Item Quantity" name="quantity_remaining">
            </div>
            <div class="form-group">
                <label for="ItemImage">Item Image Link</label>
                <input type="text" class="form-control" placeholder="Item Image Link" name="image">
            </div>
            <button type="submit" class="btn btn-warning mb-2" id="submitButtonItem" value="addItem">Add Item!</button>
        </form>
    </div>
</div>

<br><br>

<br><br>

<div class="container-fluid bg-warning mb-0">
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 myCols">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/api/search/all">Products</a></li>
                        <li><a href="/login">Account</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="/about">Company Information</a></li>
                        <li><a href="/contact">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {{!-- <div class="footer-copyright">
            <p>© 2019 Sahara </p>
        </div> --}}
    </footer>
</div>