body {
    background: rgb(29, 29, 170) url("https://images.unsplash.com/photo-1486314030120-d5ab85fe58cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80") no-repeat fixed center;
    background-size: cover;
}

#searchBar {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: row;
    flex-flow: nowrap;
}

/* Categories Button */

/* .bg-warning {
   
} */

/* Sign Up Page */

.signupDiv {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}

#submit-button {
    width: 75px;
    margin: 6px;
    border-radius: 5px;
}
.pointer {
    cursor: pointer;
}

/* Home Page Featured Products */
.container img {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 17px;
}

#imageModifyDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.featured-info h2 {
    text-align: center;
}
.featured-info p {
    margin: 0 22px 20px 22px;
}


.productButtons {
    width: 100px;
    margin: 6px;
    border-radius: 5px;
}


.footer{
    position: absolute;
    bottom: 0;
}

#myFooter {
    color:white;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;

}


#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 5px;
}

#myFooter a{
	color: white;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:blue;
}

#myFooter .myCols{
	text-align: center;
}





@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}