body {
    background: rgb(29, 29, 170) url("https://images.unsplash.com/photo-1486314030120-d5ab85fe58cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80") no-repeat fixed center;
    background-size: cover;
}

#searchBar {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: row;
    flex-flow: nowrap;
}

/* Categories Button */

/* .bg-warning {
   
} */

/* Sign Up Page */

.signupDiv {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}

#submit-button {
    width: 75px;
    margin: 6px;
    border-radius: 5px;
}

.updateButtons {
    width: 100px;
    margin: 6px;
    border-radius: 5px;
}
