.products-columns {
<<<<<<< HEAD
    background-color: rgb(185, 218, 230);
=======
    background-color: rgb(193, 226, 236)
>>>>>>> 23bee58447e203e2dedeb713831741dbdd146fa9
}

/* Sign Up Page */
.signupDiv {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}